<!--copia 1 -->
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut saepe iure ad aut autem, deserunt, quis est qui, numquam corporis repudiandae in. Velit, nisi id excepturi repellendus nostrum at dolor!</p>

<!--copia2 -->
<p class="segundo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut saepe iure ad aut autem, deserunt, quis est qui, numquam corporis repudiandae in. Velit, nisi id excepturi repellendus nostrum at dolor!</p>

<!--copia 3-->
<p class="tercero">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut saepe iure ad aut autem, deserunt, quis est qui, numquam corporis repudiandae in. Velit, nisi id excepturi repellendus nostrum at dolor!</p>

<!--copia 4-->
<p class="cuarto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut saepe iure ad aut autem, deserunt, quis est qui, numquam corporis repudiandae in. Velit, nisi id excepturi repellendus nostrum at dolor!</p>
<!--copia 5-->

<p class="quinto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut saepe iure ad aut autem, deserunt, quis est qui, numquam corporis repudiandae in. Velit, nisi id excepturi repellendus nostrum at dolor!</p>
